* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
  font-family: 'Poppins',sans-serif;
  text-align: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 37.5rem;
  width: 100%;
  padding: 8.5rem 3.2rem 7.8rem;
}

.intro {
  margin-bottom: 7.6rem;
}

.intro__heading {
  color: #4c4e61;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 3.6rem;
}

.intro__subheading {
  color: #4c4e61;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  letter-spacing: 0.17px;
}

.intro__paragraph {
  color: #4D4F62;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.1px;
  opacity: 0.5;
  margin-top: 1.6rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
}

.cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.7rem 2.8rem 2.8rem 2.8rem;
  background: #fff;
  -webkit-box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
          box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  margin-bottom: 2.5rem;
}

.cards__heading {
  color: #4c4e61;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.cards__icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 57px;
}

.cards__paragraph {
  color: #4D4F62;
  opacity: 0.5;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.3rem;
  margin-top: 0.1rem;
  margin-bottom: 3.3rem;
}

.cards__card-one {
  border-top: 3.55px solid #45d3d3;
}

.cards__card-two {
  border-top: 3.55px solid #ea5353;
}

.cards__card-three {
  border-top: 3.55px solid #fcaf4a;
}

.cards__card-four {
  border-top: 3.55px solid #549ef2;
}

@media (min-width: 1170px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .main {
    max-width: 110rem;
    padding: 0;
    margin: auto;
  }
  .intro {
    width: 54rem;
    margin-bottom: 6.4rem;
  }
  .intro__heading, .intro__subheading {
    font-size: 3.6rem;
    line-height: 5.4rem;
  }
  .intro__heading {
    margin-bottom: 0.2rem;
  }
  .intro__subheading {
    letter-spacing: 0.25px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'cardOne cardTwo cardFour' 'cardOne cardThree cardFour';
    gap: 3rem;
  }
  .cards__card-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: cardOne;
  }
  .cards__card-two {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cardTwo;
  }
  .cards__card-three {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cardThree;
  }
  .cards__card-four {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: cardFour;
  }
  .cards__card {
    width: 35rem;
    margin-bottom: 0;
    padding: 3.2rem;
  }
  .cards__paragraph {
    margin: 0.6rem 0 4rem;
  }
  .cards__icon {
    width: 64px;
  }
}
/*# sourceMappingURL=styles.css.map */