@import 'init','variables';

body {
  background:$background-body;
  font-family:'Poppins',sans-serif;
  text-align: center
}

.main {

  @include flexCenter(column);

  margin:auto;
  max-width:37.5rem;
  width: 100%;
  padding:8.5rem 3.2rem 7.8rem;
  
}

.intro {

  margin-bottom:7.6rem;

  &__heading {
    color:$color-heading;
    font-size:2.4rem;
    font-weight:200;
    line-height: 3.6rem;
  }

  &__subheading {
    color:$color-heading;
    font-size:2.4rem;
    font-weight:600;
    line-height: 3.6rem;
    letter-spacing: 0.17px;
  }

  &__paragraph {
    color:#4D4F62;
    font-size: 1.5rem;
    font-weight:400;
    line-height:2.5rem;
    letter-spacing: 0.1px;
    opacity: 0.5;
    margin-top:1.6rem;
  }
}

.cards {

  @include flexCenter(column);

  width:100%;
  text-align: left;

  &__card {
  
    display:flex;
    flex-direction: column;
    padding:2.7rem 2.8rem 2.8rem 2.8rem;
    background:$background-card;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: 8px;
    margin-bottom:2.5rem;
  }

  &__heading {
    color:$color-heading;
    font-size:2rem;
    font-weight:600;
    line-height: 3rem;
  }

  &__icon {
    align-self: flex-end;
    width: 57px;
  }

  &__paragraph {
    color:#4D4F62;
    opacity: 0.5;
    font-size:1.3rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-top:0.1rem;
    margin-bottom:3.3rem;
  }

  &__card-one {
    border-top:3.55px solid $border-one;
  }
  
  &__card-two {
    border-top:3.55px solid $border-two;
  }
  
  &__card-three {
    border-top:3.55px solid $border-three;
  }
  
  &__card-four {
    border-top:3.55px solid $border-four;
  }
}

@media (min-width:1170px) {

  .main {
    max-width:144.7rem;
  }

  .intro {
    width: 54rem;
    margin-bottom:6.4rem;

    &__heading, &__subheading {
      font-size:3.6rem;
      line-height: 5.4rem;
    }

    &__heading {
      margin-bottom:0.2rem;
    }

    &__paragraph {
      margin-top:1.3rem;
    }
  }

  .cards {
    @include flexCenter(row);
      
      &__column {
        display:flex;
        flex-direction: column;
        max-width:30%;
      }

      &__column:nth-child(2) {
        align-items: center;
      }
  }

  .pull-right {
    align-self: flex-end;
  }

}